.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    .H-actualiter{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        color: white;
        box-shadow: 0px 10px 25px 0px black;
        h1{
            text-align: center;
            background-color: rgba(19, 19, 19, 0.7);
            width: 100%;
        }
    }
    .H-ActiviterCart{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;
        align-items: center;
        margin-top: 5rem;
        div{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            h1{
                display: flex;
                text-align: center;
                color: white;
                width: 100%;
                font-size: 1.75rem;
            }
            .ActiviterCart{
                display: flex;
                flex-direction: column;
                background-color: rgba(34, 34, 34, 0.9);
                border: solid black 2px;
                box-shadow: 0px 5px 15px 0px black;
            }
            h2{
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: white;
                border-bottom: solid black 2px;
            }
            .ActiviterCartBody{
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
                div{
                    display: flex;
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    img{
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        width: 100%;
                        min-height: 40vh;
                        max-height: 80vh;
                    }
                    p{
                        color: white;
                        display: flex;
                        overflow: auto;
                        width: 100%;
                        height: 50%;
                        padding: 1rem;
                        min-height: 40vh;
                        max-height: 75vh;
                    }
                }
                .ActiviterCartText{
                    display: flex;
                    flex-direction: column;
                    color: white;
                    width: 50%;
                    align-items: center;
                    min-height: 40vh;
                    max-height: 70vh;
                    height: auto;
                    padding-bottom: 1rem;

                    h3{
                        padding: 1rem;
                        padding-bottom: 2rem;
                        font-size: 1rem;
                        display: flex;
                        height: auto;
                        width: 90%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media  screen and (min-width: 960px){
    .Home{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        max-width: 100vw;
        .H-actualiter{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            align-items: center;
            color: white;
            box-shadow: 0px 10px 25px 0px black;
            h1{
                text-align: center;
                background-color: rgba(19, 19, 19, 0.7);
                width: 100%;
            }
        }
        .H-ActiviterCart{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 50%;
            align-items: center;
            margin-top: 5rem;
            h1{
                display: flex;
                color: white;
                width: 100%;
                font-size: 1.75rem;
            }
            .ActiviterCart{
                display: flex;
                flex-direction: column;
                background-color: rgba(34, 34, 34, 0.9);
                border: solid black 2px;
                box-shadow: 0px 5px 15px 0px black;
            }
            h2{
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: white;
                border-bottom: solid black 2px;
            }
            .ActiviterCartBody{
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
                div{
                    display: flex;
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    img{
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        width: 100%;
                        min-height: 40vh;
                        max-height: 80vh;
                    }
                    p{
                        color: white;
                        display: flex;
                        overflow: auto;
                        width: 100%;
                        height: 50%;
                        padding: 1rem;
                        min-height: 40vh;
                        max-height: 75vh;
                    }
                }
                .ActiviterCartText{
                    display: flex;
                    flex-direction: column;
                    color: white;
                    width: 50%;
                    align-items: center;
                    max-height: 70vh;
                    h3{
                        padding: 1rem;
                        padding-bottom: 2rem;
                        display: flex;
                        height: auto;
                        width: 90%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
